<!-- Template: wuTable -->
<table class="wuTable {className}"></table>
<!-- End -->

<!-- Template: wuTable.Head -->
<thead class="wuHead"></thead>
<!-- End -->

<!-- Template: wuTable.HeadCell -->
<th class="wuCell {className}">{contents}</th>
<!-- End -->

<!-- Template: wuTable.Body -->
<tbody class="wuBody"></tbody>
<!-- End -->

<!-- Template: wuTable.Foot -->
<tfoot class="wuFoot"></tfoot class="wuBody">
<!-- End -->

<!-- Template: wuTable.Row -->
<tr class="wuRow {className}"></tr>
<!-- End -->

<!-- Template: wuTable.Cell -->
<td class="wuCell {className}">{contents}</td>
<!-- End -->